<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ping</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

<!-- App -->
<div id="app">
    <div :class="['settings-tray', tray_open?'active':'']">
        <div class="tray-piece">
            <p class="rela-block">P1 Name</p>
            <input type="text" v-model="p1.name" />
            <p class="rela-inline">Bounce:</p><input type="checkbox" v-model="p1.bounce" /><br>
            <p class="rela-inline">Color:</p><input type="color" v-model="p1.color" />
        </div>
        <div class="tray-piece">
            <p class="rela-block">P2 Name</p>
            <input type="text" v-model="p2.name" />
            <p class="rela-inline">Bounce:</p><input type="checkbox" v-model="p2.bounce" /><br>
            <p class="rela-inline">Color:</p><input type="color" v-model="p2.color" />
        </div>
        <div class="tray-piece">
            <p class="rela-inline">Ball: </p>
            <input type="color" v-model="ball.color" /><br>
            <p class="rela-inline">Map: </p>
            <input type="color" v-model="map.color" /><br>
            <p class="rela-inline">Text: </p>
            <input type="color" v-model="map.text_color" />
        </div>
        <div class="vert-center side-text" @click="tray_open = !tray_open; game_paused = true;">Settings</div>
    </div>

    <div class="abs-center stage" :style="{'height': map.height+'px', 'width': map.width+'px', 'background-color': map.color, 'color': map.text_color}">
        <div class="scoreboard">
            <div :class="['left', 'name', (p1.pos.y<50)?'hidden':'']">{{p1.name}}</div>
            <div class="horz-center">{{p1.score}} {{p2.score}}</div>
            <div :class="['right', 'name', (p2.pos.y<50)?'hidden':'']">{{p2.name}}</div>
        </div>

        <div :style="{'height': p1.height+'px', 'width': p1.width+'px', 'top': p1.pos.y+'px', 'left': p1.pos.x+'px', 'background-color': p1.color}" :class="['paddle', 'p1']"></div>
        <div :style="{'height': p2.height+'px', 'width': p2.width+'px', 'top': p2.pos.y+'px', 'left': p2.pos.x+'px', 'background-color': p2.color}" :class="['paddle', 'p2']"></div>
        <div :style="{'height': ball.size+'px', 'width': ball.size+'px', 'top': ball.pos.y+'px', 'left': ball.pos.x+'px', 'background-color': ball.color}" :class="['ball']"></div>

        <div v-show="game_paused" class="abs-center big-text">PAUSED</div>
        <div v-if="!game_paused" v-show="game_over" class="abs-center big-text">
            <div v-if="winner">{{winner.name}} Wins!<br>Press R to Reset</div>
            <div v-else>Press Space to start</div>
        </div>
    </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>

    <script  src="js/index.js"></script>

</body>
</html>
